body{
    font-family: 'Poppins', sans-serif;
}
.headc{
    color: blueviolet;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(red,purple); 
    padding: 12px;
    color: oldlace;
    font-weight: 400;
    border-radius:8px ;
}
    section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.half-width{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 2rem;
    margin: 5%;
}
.half-width img{
    width: 80%;
}
.side{
    border-left: 3px solid blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.my-mission{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
.mission-box{
    background-color: rgba(173, 216, 230, 0.425);
    margin: 30px;
    padding: 15px;
    border-radius: 10px;
}
.vision-box{
    background-color: rgba(180, 179, 124, 0.466);
    margin: 30px;
    padding: 15px;
    border-radius: 10px;
}
.goal-box{
     background-color: rgba(0, 128, 128, 0.589);
    margin: 30px;
    padding: 15px;
    border-radius: 10px;
}
.box-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
Footer{
    background-color: black;
    padding: 30px 0px ;
    color: white;
    text-align: center;
}
.year{
    color: yellow;
}